@import "../../_globalColor";

.skills-section {
  margin: 0 auto;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  margin-bottom: 30px;
}

.grid-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
}

.grid-item > img {
  aspect-ratio: 1 / 1;
  height: 6rem;
  padding-left: 16px;
}

.skill {
  padding-right: 16px;
}

.skill-type {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.skill-list {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.meter {
  height: 20px;
  position: relative;
  background: $progressBarBackground;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $progressBarSpanBG;
  position: relative;
  overflow: hidden;
}

.skill-bars {
  font-size: 28px;
  width: 40%;
}

.skills-image > img {
  margin-left: 80px;
  max-width: 90%;
  height: auto;
}

/* Media Query */

@media (max-width: 1456px) {
  .skills-bar {
    line-height: 4rem;
  }
  .skills-image {
    display: none;
    order: 2;
  }
}

@media (max-width: 768px) {
  .skills-bar {
    line-height: 3rem;
    margin: 20px;
  }
  .skills-image {
    display: none;
    order: 2;
  }
}
